

/* target only slides with class "tightbullets" */
.tightbullets p + ul {
  margin-top: -0.35em !important;
}
.tightbullets ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.tightbullets ul li {
  margin-top: -0.1em;
  margin-bottom: -0.1em;
}
.tightbullets  h2 {
    margin-bottom: 0;
  }
.tightbullets  h3 {
    margin-bottom: 0;
  }

.inverse.remark-slide-number{display: none;}


.my-style {
  font-size: 0.8em;
}

.tight ul li {
  margin-bottom: -0.2em;
}

.smaller-title + img {
  margin-top: -20px;
}

.codefont pre {
    font-size: 18px;
    line-height: 16px;
}

.smaller-padding .remark-slide-content {
  padding-top: 1em; /* Adjust this value */
}

.codefontchico pre {
    font-size: 16px;
    line-height: 13px;
}

.inverse h1{
  color: #FFFFFF;
  font-weight: normal;
}

.title-slide h1, .title-slide h2, .title-slide h3, .title-slide h4 {
  font-weight: normal;
}

.heading-slide {
  font-weight: normal;          
}

.replacement {
  display: none;
}

.replacement.visible {
  display: list-item;
}

a, a > code {
  color: #9932CC;
  text-decoration: none; /* turns off background coloring of links */
}

.remark-slide-content:first-child(1){
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: flex-start; /* Aligns content to the left */
  height: 100%; /* Ensures full slide space is used */
  padding-top: 100px; /* Adjusts vertical start position */
}

.remark-slide-content h1 {
  margin: 0;
  padding: 0;
  text-align: left; /* Left-aligns the title */
}

.subtitle {
  font-size: 1.5em; /* Custom font size for the subtitle */
  margin: 0;
  padding: 5px 0; /* Adds spacing below the subtitle */
  text-align: left; /* Left-aligns the subtitle */
}

.remark-slide-content h3,
.remark-slide-content p {
  margin: 0;
  padding: 10px 0; /* Adds spacing between author and date */
  text-align: left; /* Ensures left alignment */
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  font-size: 70%;
  font-style: italic;
}

.space blockquote {
  margin: 2em 1em;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.small-text {
  font-size: 90%; /* Adjust percentage as needed */
}

.verysmall-text {
  font-size: 80%; /* Adjust percentage as needed */
}

.space blockquote p {
  line-height: 2em;
}

/* Remove striped style from tables */
table {
  background-color: white;
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr:nth-child(even) {
  background-color: white;
}

.cita {
  font-size: 16px; /* Adjust as needed */
  color: #9932CC;
}

.cite {
  font-size: 18px;
  font-style: italic;
}

.bold { font-weight: bold; }

.remark-code, .remark-inline-code { 
                                    font-size: 90%;
                                  }

.content-box { 
    box-sizing: border-box;
    background-color: #e2e2e2;
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  width: 100%;
}
.content-box-blue { background-color: #A9C7DB; }
.content-box-gray { background-color: #D6DBDF; }
.content-box-grey {	background-color: #F5F5F5; }
.content-box-army {	background-color: #737a36; }
.content-box-green { background-color: #b7d6d0; }
.content-box-purple { background-color: #EBDEF0; }
.content-box-red { background-color: #F5B7B1;}
.content-box-yellow { background-color: #fef5c4; }
.content-box-blue .remark-inline-code,
.content-box-blue .remark-inline-code,
.content-box-gray .remark-inline-code,
.content-box-grey .remark-inline-code,
.content-box-army .remark-inline-code,
.content-box-green .remark-inline-code,
.content-box-purple .remark-inline-code,
.content-box-red .remark-inline-code,
.content-box-yellow .remark-inline-code { 
  background: none;
}


li {
      margin-top: 0.1em; /* Adjust this value as needed */
      margin-bottom: 0.1em; /* Adjust this value as needed */
    }
